:root {
  /* Color */
  --color-navy: #232946;
  --color-ivory: #d4d8f0;
  --color-pink: #eebbc3;
  --color-white: #fffffe;
}

/* Genenral */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 1rem;
  font-family: 'Montserrat', sans-serif;
  background-color: var(--color-navy);
  color: var(--color-white);
  line-height: 1.6;
}

img {
  display: inline-block;
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
  font-family: inherit;
}


/* Typography */

.logo {
  font-size: 1.25rem;
  display: inline-block;
  font-weight: 800;
  font-style: italic;
  border-bottom: 2px solid var(--color-white);
}

h1 {
  font-size: 2.5rem;
  line-height: 1.2;
}

h2 {
  font-size: 1.125rem;
}

.header-subtitle {
  font-weight: 400;
}

.btn-mint {
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 800;
}

p {
  font-size: 1rem;
}

.main-title {
  font-size: 2rem;
  line-height: 1.2;
}

.footer-copyright {
  font-size: 0.875rem;
}

/* Layout */

.grid {
  display: grid;
  grid-template-columns: minmax(1em,1fr) minmax(0px, 550px) minmax(1em, 1fr);
}

header > * {
  grid-column: 2;
}

main > * {
  grid-column: 2;
}

footer > * {
  grid-column: 2;
}

/* Header */
header {
  padding: 1em 0 3em;
}

.btn-mint {
  background-color: var(--color-ivory);
  padding: 0.5em 1.8em;
  border-radius: 5px;
  justify-self: start;
  transition: all 200ms;
}

.btn-mint:focus,
.btn-mint:hover {
  transform: scale(1.1);
  background-color: var(--color-pink);
}

/* main */

main {
  color: var(--color-navy);
  background-color: var(--color-ivory);
  padding: 1em 0 3em;
}


section {
  text-align: center;
  margin-bottom: 2.5em;
}

section:last-child {
  margin-bottom: 0;
}

.section-title,
.section-body {
  margin: 0;
}

.section-img {
  width: 70%; 
}

/* footer */

footer {
  color: rgba(255, 255, 255, 0.6);
  padding: 3em 0 1em;
  text-align: center;
}

.footer-logo,
#footer-icon {
  transition: all 250ms;
}

.footer-logo:hover,
.footer-logo:focus,
#footer-icon:hover,
#footer-icon:focus {
  color: rgba(255, 255, 255,1);
}

.footer-logo {
  justify-self: center;
  border-bottom: solid 2px rgba(255, 255, 255, 0.6);
  margin-bottom: 2em;
}

.footer-icons {
  font-size: 1.75rem;
  margin: 0 0.25rem 0.5rem;
  order: -1;
}

#footer-icon {
  margin: 0 0.25rem;
}
